*{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {
    margin:0px;
    padding:0px
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form__field {
    display: flex;
    margin: 10px 0px;
}

.form__field-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 300px;
    font-size: 20px;
    color:#333;
    font-weight: 500;
}

.form__field input {
    min-width: 400px;
    padding:8px 20px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 550;
}